{% extends "base.html" %}

{% block content %}
	<h1>diff(<a href="/wiki/{{ title }}">{% block title %}{{ title }}{% endblock %}</a>, {{ history.event }});</h1>
	<div>
		<a href="/wiki/{{ title }}/{{ history.event }}">view</a>
		<a href="/rehash/{{ title }}/{{ history.event }}">rehash</a>
		<a href="/history/{{ title }}">history</a>
	</div>
	<h2>title</h2>
	{% if history.title is not none and history.title != "" %}
	<pre>{{ history.title }}</pre>
	{% else  %}
	<p>no change</p>
	{% endif %}

	<h2>content</h2>
	{% if history.content is not none and history.content != "" %}
	<pre>{{ history.content }}</pre>
	{% else  %}
	<p>no change</p>
	{% endif %}
{% endblock %}
