{% extends "base.html" %}

{% block content %}
	<h1>edit(<a href="/wiki/{{ page.title }}">{% block title %}{{ page.title }}{% endblock %}</a>);</h1>
	<div>
		<a href="/history/{{ page.title }}">history</a>
	</div>
	<form method="post">
		<div>
			<label for="title">title</label>
			<input id="title" name="title" value="{{ page.title }}">
		</div>
		<div>
			<label for="content">content</label>
			<textarea id="content" name="content">{{ page.content }}</textarea>
		</div>
		<div>
			<button>save</button>
		</div>
	</form>
{% endblock %}
