{% extends "base.html" %}

{% block content %}
	<h1>history(<a href="/wiki/{{ page.title }}">{% block title %}{{ page.title }}{% endblock %}</a>);</h1>
	<div>
		<a href="/edit/{{ page.title }}">edit</a>
	</div>
	<ul>
		{% for history in page.historys %}
		<li>
			<p>{{ history.summary }} - {{ history.write }}</p>
			<div>
				<a href="/wiki/{{ page.title }}/{{ history.event }}">view</a>
				<a href="/diff/{{ page.title }}/{{ history.event }}">diff</a>
				<a href="/rehash/{{ page.title }}/{{ history.event }}">rehash</a>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
