{% extends "base.html" %}

{% block title %}history({{ page.title }}, {{ pages[0] }});{% endblock %}

{% block content %}
	<h1>history(<a href="/wiki/{{ page.title|urlencode }}">{{ page.title }}</a>, {{ pages[0] }});</h1>
	<div>
		<a href="/edit/{{ page.title|urlencode }}">edit</a>
	</div>
	<ul>
		{% for history in historys %}
		<li>
			<p>{{ history.summary }} - {{ history.write }}</p>
			<div>
				<a href="/back/{{ page.title|urlencode }}/{{ history.event|urlencode }}">view</a>
				<a href="/diff/{{ page.title|urlencode }}/{{ history.event|urlencode }}">diff</a>
				<a href="/rehash/{{ page.title|urlencode }}/{{ history.event|urlencode }}">rehash</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	<div>
		{% if pages[0] > 1 and pages[0] <= pages[1] %}
		<a href="/history/{{ page.title|urlencode }}/{{ pages[0] - 1 }}">prev</a>
		{% else %}
		<span><del>prev</del></span>
		{% endif %}
		{% if pages[0] >= 0 and pages[0] < pages[1] %}
		<a href="/history/{{ page.title|urlencode }}/{{ pages[0] + 1 }}">next</a>
		{% else %}
		<span><del>next</del></span>
		{% endif %}
{% endblock %}
