* {
	box-sizing: border-box;
}

html {
	font-family: monospace;
}
body {
	max-width: 80rem;
	padding: 0 1rem;
	margin: 1rem auto;
}

a {
	color: mediumpurple;
}
del {
	color: grey;
}
label {
	display: block;
	margin: 0.5rem 0;
}
input, textarea, button {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	border: 1px solid #eee;

	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}
textarea {
	min-height: 20rem;

	resize: vertical;
}
button {
	background-color: #eee;
}
.diff ins {
	color: green;
	text-decoration: none;
}
.diff del {
	color: red;
	text-decoration: none;
}
