<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">

		<link rel="stylesheet" href="/style.css">

		<title th:text="${'back(' + page.title + ', ' + page.event + ');'}">kiwikiwi</title>
	</head>
	<body>
		<div class="lang lang--java">java</div>
		<form action="/search" method="get">
			<input id="s" name="s" value="">
			<button>search</button>
		</form>
		<h1>
			back(<a th:href="${'/wiki/' + #uris.escapePath(page.title)}" th:text="${page.title}"></a>, <th:block th:text="${page.event}"/>);
		</h1>
		<nav>
			<a th:href="${'/edit/' + #uris.escapePath(page.title)}">edit</a>
			<a th:href="${'/history/' + #uris.escapePath(page.title)}">history</a>
			<a th:href="${'/rehash/' + #uris.escapePath(page.title) + '/' + #uris.escapePath(page.event)}">rehash</a>
		</nav>
		<div th:utext="${page.html}"></div>
	</body>
</html>
