<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">

		<link rel="stylesheet" href="/style.css">

		<title th:text="${'search(' + page.search + ', ' + page.current + ');'}">kiwikiwi</title>
	</head>
	<body>
		<form action="/search" method="get">
			<input id="s" name="s" th:value="${page.search}">
			<button>search</button>
		</form>
		<h1>
			search(<th:block th:text="${page.search}"/>, <th:block th:text="${page.current}"/>);
		</h1>
		<ul>
			<li th:each="p: ${page.pages}">
				<p th:text="${p}"/>
			</li>
		</ul>
		<div>
			<a th:if="${page.current > 1 && page.current <= page.last}" th:href="${'/serach?s=' + #uris.escapePath(page.search) + '&p=' + (page.current - 1)}">prev</a>
			<span th:unless="${page.current > 1 && page.current <= page.last}"><del>prev</del></span>
			<a th:if="${page.current >= 0 && page.current < page.last}" th:href="${'/search?s=' + #uris.escapePath(page.search) + '&p=' + (page.current + 1)}">next</a>
			<span th:unless="${page.current >= 0 && page.current < page.last}"><del>next</del></span>
		</div>
	</body>
</html>
