<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">

		<link rel="stylesheet" href="/style.css">

		<title th:text="${page.title}">kiwikiwi</title>
	</head>
	<body>
		<div class="lang lang--java">java</div>
		<form action="/search" method="get">
			<input id="s" name="s" value="">
			<button>search</button>
		</form>
		<h1 th:text="${page.title}"></h1>
		<nav>
			<a th:href="${'/edit/' + #uris.escapePath(page.title)}">edit</a>
			<a th:href="${'/history/' + #uris.escapePath(page.title)}">history</a>
		</nav>
		<div th:utext="${page.html}"></div>
	</body>
</html>
